.header__input {
  width: 500px;  
  height: 44px;
  
  border: 1px solid #e6e6e6;
  border-radius: 22px;
  padding: 16px;
  background-color: inherit;
}
@media (max-width:1024px) {
  .header__input {
    width: 70vw;
  }
}
@media (max-width:500px) {
  .header__input {
    width: 90vw;
    
  }
}
