.preload {
  background-image: url('../../images/preload.svg'); 
  background-repeat: no-repeat; 
  margin: 0 auto;
  width: 180px;
  height: 180px;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  to {
    transform: rotate(-360deg);
    transform-origin: center center;
  }
}